<div class="fp-page">
  <div class="fp-card">

    <h1>Forgot Password</h1>

   <form [formGroup]="emailForm" (ngSubmit)="sendResetLink()">

      <p class="fp-sub">
        Enter your registered email address. We will send you a password reset link.
      </p>

      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />
      </div>

      <div class="error-message" *ngIf="errormessage">
        {{ errormessage }}
      </div>

      <div class="success-message" *ngIf="successmessage">
        {{ successmessage }}
      </div>

      <button type="submit" class="fp-btn">
       Submit
      </button>

    </form>

    <a routerLink="/login" class="fp-back">
      ← Back to Login
    </a>

  </div>
</div>